<div class="page-header">
  <h1>Teachers</h1>

  <button  *ngIf="authService.isDirector()" class="add-btn" routerLink="/teachers/new">
    + Add New
  </button>
</div>

<div class="search-container">
  <input type="text" placeholder="Search teachers..." #searchInput (input)="onSearch(searchInput.value)">
</div>

<table class="table">

  <thead>
    <tr>
      <th class="sortable" (click)="onSort('fullname')">

        Full Name

        <span class="sort-icon">
          {{ getSortIcon('fullname') }}
        </span>

      </th>

      <th class="sortable" (click)="onSort('email')">

        Email

        <span class="sort-icon">
          {{ getSortIcon('email') }}
        </span>

      </th>
      <th  *ngIf="authService.isDirector()">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let teacher of teachers$ | async">

      <td>{{ teacher.firstName }} {{ teacher.lastName }}</td>
      <td>{{ teacher.email }}</td>

      <td  *ngIf="authService.isDirector()" class="actions">
        <button class="edit-btn" [routerLink]="['/teachers/edit', teacher.id]">Edit</button>
        <button class="delete-btn" (click)="delete(teacher.id)">Delete</button>
      </td>

    </tr>
  </tbody>

</table>

<app-pagination
  [pageNumber]="pageNumber"
  [pageSize]="pageSize"
  [totalPages]="totalPages"
  [totalCount]="totalCount"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)">
</app-pagination>