<div class="page-header">
  <h1>Teachers</h1>

  <button  *ngIf="authService.isDirector()" class="add-btn" routerLink="/teachers/new">
    + Add New
  </button>
</div>

<table class="table">

  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th  *ngIf="authService.isDirector()">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let teacher of teachers$ | async">

      <td>{{ teacher.firstName }} {{ teacher.lastName }}</td>
      <td>{{ teacher.email }}</td>

      <td  *ngIf="authService.isDirector()" class="actions">
        <button class="edit-btn" [routerLink]="['/teachers/edit', teacher.id]">Edit</button>
        <button class="delete-btn" (click)="delete(teacher.id)">Delete</button>
      </td>

    </tr>
  </tbody>

</table>