<div class="layout">

  <aside class="sidebar">
    <h2 class="logo">School MS</h2>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
      <a routerLink="/students" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Students</a>
      <a routerLink="/teachers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Teachers</a>
      <a routerLink="/schoolClasses" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Classes</a>
      <a routerLink="/subjects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Subjects</a>
      <a routerLink="/assignments/student-class" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Student-Class Assignments</a>
      <a routerLink="/assignments/teacher-subject" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Teacher-Subject Assignments</a>
      <a routerLink="/assignments/teaching-assignment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Teaching Assignments</a>
    </nav>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </aside>

  <div class="main">

    <header class="topbar">
      <div class="user-info">
        Logged in as:
        <b>{{ user?.firstName }} {{ user?.lastName }}</b>
      </div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>

  </div>

</div>
