<div class="page-header">

<h1>
Teacher Subject Assignments
</h1>


<button
class="add-btn"
routerLink="/assignments/teacher-subject/new">

+ Add New

</button>


</div>



<table class="table">

<thead>

<tr>

<th>Teacher</th>
<th>Subject</th>
<th>Actions</th>

</tr>

</thead>

<ng-container *ngIf="assignments$ | async as assignments">
    <tbody>


    <tr *ngFor="let assignment of assignments">


    <td>
    {{ assignment.teacherName }}
    </td>


    <td>
    {{ assignment.subjectName }}
    </td>


    <td class="actions">


    <button
    class="delete-btn"
    (click)="delete(
    assignment.teacherId,
    assignment.subjectId
    )">

    Delete

    </button>


    </td>


    </tr>



    <tr *ngIf="assignments.length === 0">

    <td colspan="3" class="empty">

    No assignments found.

    </td>

    </tr>


    </tbody>
</ng-container>

</table>