<div class="form-container">

<h2>
Assign Student To Class
</h2>


<form
[formGroup]="form"
(ngSubmit)="save()"
class="form">


<div class="form-group">

<label>Student</label>

<select formControlName="studentId">

<option [ngValue]="null">
Select Student
</option>

<option
*ngFor="let student of students"
[ngValue]="student.id">

{{student.fullName}}

</option>

</select>

</div>



<div class="form-group">

<label>Class</label>

<select formControlName="schoolClassId">


<option [ngValue]="null">
Select Class
</option>


<option
*ngFor="let c of classes"
[ngValue]="c.id">

{{c.name}}

</option>


</select>

</div>



<button
class="submit-btn"
type="submit"
[disabled]="form.invalid">

Save

</button>


</form>

</div>