<div
class="page-header"
*ngIf="details">


<h1>
Class {{details.name}}
</h1>


</div>




<div
class="table-container"
*ngIf="details">



<h2>
Students
</h2>



<table class="table">

<thead>

<tr>

<th>
Name
</th>

<th>
Email
</th>

</tr>

</thead>



<tbody>


<tr
*ngFor="let student of details.students">


<td>
{{student.fullName}}
</td>


<td>
{{student.email}}
</td>


</tr>



<tr
*ngIf="details.students.length === 0">


<td colspan="2">

No students assigned.

</td>


</tr>


</tbody>


</table>



</div>





<div
class="table-container"
*ngIf="details">


<h2>
Subjects
</h2>




<table class="table">


<thead>

<tr>

<th>
Subject
</th>


<th>
Teacher
</th>


</tr>


</thead>




<tbody>


<tr
*ngFor="let subject of details.subjects">


<td>
{{subject.subjectName}}
</td>


<td>
{{subject.teacherName}}
</td>


</tr>



<tr
*ngIf="details.subjects.length === 0">


<td colspan="2">

No subjects assigned.

</td>


</tr>


</tbody>


</table>


</div>